%p
  = user.label :email
  %br
  = user.text_field :email
%p
  = user.label :password
  %br
  = user.password_field :password
%p
  = user.label :password_confirmation
  %br
  = user.password_field :password_confirmation