%h2 Sign Up
= form_for account do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :subdomain
    %br
    = f.text_field :subdomain
  = f.fields_for :owner do |owner|
    = render 'subscribem/account/users/form', user: owner
    = f.submit