%h2 Sign Up
= form_for account do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :subdomain
    %br
    = f.text_field :subdomain
  = f.fields_for :owner do |owner|
    %p
      = owner.label :email
      %br
      = owner.text_field :email
    %p
      = owner.label :password
      %br
      = owner.password_field :password
    %p
      = owner.label :password_confirmation
      %br
      = owner.password_field :password_confirmation
    = f.submit